/*

Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #282828;
  }
  
  .hljs,
  .hljs-subst {
	color: #ebdbb2;
  }
  
  /* Gruvbox Red */
  .hljs-deletion,
  .hljs-formula,
  .hljs-keyword,
  .hljs-link,
  .hljs-selector-tag {
	color: #fb4934;
  }
  
  /* Gruvbox Blue */
  .hljs-built_in,
  .hljs-emphasis,
  .hljs-name,
  .hljs-quote,
  .hljs-strong,
  .hljs-title,
  .hljs-variable {
	color: #83a598;
  }
  
  /* Gruvbox Yellow */
  .hljs-attr,
  .hljs-params,
  .hljs-template-tag,
  .hljs-type {
	color: #fabd2f;
  }
  
  /* Gruvbox Purple */
  .hljs-builtin-name,
  .hljs-doctag,
  .hljs-literal,
  .hljs-number {
	color: #8f3f71;
  }
  
  /* Gruvbox Orange */
  .hljs-code,
  .hljs-meta,
  .hljs-regexp,
  .hljs-selector-id,
  .hljs-template-variable {
	color: #fe8019;
  }
  
  /* Gruvbox Green */
  .hljs-addition,
  .hljs-meta-string,
  .hljs-section,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-string,
  .hljs-symbol {
	color: #b8bb26;
  }
  
  /* Gruvbox Aqua */
  .hljs-attribute,
  .hljs-bullet,
  .hljs-class,
  .hljs-function,
  .hljs-function .hljs-keyword,
  .hljs-meta-keyword,
  .hljs-selector-pseudo,
  .hljs-tag {
	color: #8ec07c;
  }
  
  /* Gruvbox Gray */
  .hljs-comment {
	color: #928374;
  }
  
  /* Gruvbox Purple */
  .hljs-link_label,
  .hljs-literal,
  .hljs-number {
	color: #d3869b;
  }
  
  .hljs-comment,
  .hljs-emphasis {
	font-style: italic;
  }
  
  .hljs-section,
  .hljs-strong,
  .hljs-tag {
	font-weight: bold;
  }
  

/* Custom styles by Sridhar */

body {
	/* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.wp-block-code code,
.entry-content code {
	background-color: rgba(27,31,35,0.05);
	font-size: 85%;
	font-family: 'Source Code Pro', monospace;
}

pre.wp-block-code {
	padding: 16px;
	background-color: #282828;
	border-radius: 3px;
	position: relative;
	overflow: visible;
}

pre code,
.entry-content pre code {
	background-color: transparent;
	color: #ebdbb2;
}

pre .btn {
	padding: 2px 6px;
	position: absolute;
	right: 4px;
	top: 4px;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fcfcfc),to(#eee));
	background-image: linear-gradient(#fcfcfc,#eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	line-height: 1;
}

pre .btn {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	padding: 2px 6px;
	position: absolute;
	right: 4px;
	top: 4px;
}

pre:hover .btn {
	opacity: 1;
}

@media screen and (max-width: 768px) {
	pre .btn {
		opacity:1;
	}
}

.tooltipped {
	position: relative
}

.tooltipped::after {
	position: absolute;
	z-index: 1000000;
	display: none;
	padding: 5px 8px;
	font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: break-word;
	white-space: pre;
	pointer-events: none;
	content: attr(aria-label);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 0
}

.tooltipped::before {
	position: absolute;
	z-index: 1000001;
	display: none;
	width: 0;
	height: 0;
	color: rgba(0, 0, 0, 0.8);
	pointer-events: none;
	content: "";
	border: 5px solid transparent;
	opacity: 0
}

@-webkit-keyframes tooltip-appear {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes tooltip-appear {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
	display: inline-block;
	text-decoration: none;
	-webkit-animation-name: tooltip-appear;
	animation-name: tooltip-appear;
	-webkit-animation-duration: 0.1s;
	animation-duration: 0.1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s
}

.tooltipped-s::after {
	top: 100%;
	right: 50%;
	margin-top: 5px
}

.tooltipped-s::before {
	top: auto;
	right: 50%;
	bottom: -5px;
	margin-right: -5px;
	border-bottom-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-s::after {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}
